<footer>
	<div class="container">
		<div class="footer_wrapper footer_icons">
			<p>FU$ion</p>
			
			<a href="https://www.instagram.com/d23soccer/?hl=en" target="blank?"><i class="fab fa-instagram"></i></a>&nbsp;
		

			<a href="https://www.youtube.com/channel/UCLfPINTPyoIYU3QO6GWRZdQ" target="blank?">
				<i class="fab fa-youtube"></i>
			</a>&nbsp;

			<a href="https://open.spotify.com/artist/71D1Gf0zhWPnRp38u1Xlxl?si=9bRGg0NtQw6WAJQtcsNxSA" target="blank?">
				<i class="fab fa-spotify"></i>
			</a>&nbsp;
			<br>

			<a href="https://distrokid.com/hyperfollow/fuion/ambitions" target="blank?">distrokid</a>
			

			<p class="footer_email">
				email: <a href="mailto:dylanrivas03@gmail.com">FU$ion@gmail.com</a>
			</p>
		</div>
	</div>
</footer>