<footer>
	<div class="container">
		<div class="footer_wrapper footer_icons">
			<p>Fusion_510</p>
			
			<a href="#"><i class="fab fa-instagram"></i></a>&nbsp;
			<a href="#"><i class="fab fa-twitter-square"></i></a>&nbsp;
			<a href="#"><i class="fab fa-facebook-f"></i></a>&nbsp;
			<a href="#"><i class="fab fa-soundcloud"></i></a>&nbsp;
			<a href="#"><i class="fab fa-youtube"></i></a>

			<p class="footer_email">
				email: fusion_510@gmail.com
			</p>
		</div>
	</div>
</footer>