<footer>
	<div class="container">
		<div class="footer_wrapper footer_icons">
			<p>Fusion_510</p>
			
			<a href="#"><i class="fab fa-instagram"></i></a>&nbsp;
			
			<a href="#"><i class="fab fa-twitter-square"></i></a>&nbsp;

			<a href="https://www.youtube.com/channel/UCLfPINTPyoIYU3QO6GWRZdQ" target="blank?">
				<i class="fab fa-youtube"></i>
			</a>&nbsp;

			<a href="https://soundcloud.com/fusion510" target="blank?">
				<i class="fab fa-soundcloud"></i>
			</a>&nbsp;

			<a href="#"><i class="fab fa-facebook-f"></i></a>

			<p class="footer_email">
				email: fusion_510@gmail.com
			</p>
		</div>
	</div>
</footer>