<div class="site_menu">
	<div class="container">
		<!-- <div class="site_wraper">
			<p class="site-logo">
				Fusion_510
			</p>
			<p class="site-icon">menu</p>
		</div> -->
		<div class="topnav" id="myTopnav">
			<a href="#home" class="active">Fusion_510</a>
			<a href="#news">News</a>
			<a href="#contact">Contact</a>
			<a href="#about">About</a>
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
				<i class="fas fa-bars"></i>
			</a>
		</div>
	</div>
</div>