<div class="site_menu">
	<div class="container">
		<!-- <div class="site_wraper">
			<p class="site-logo">
				Fusion_510
			</p>
			<p class="site-icon">menu</p>
		</div> -->
		<div class="topnav" id="myTopnav">
			<%= link_to 'Fusion_510', '/index.html', :relative => true %>
			<%= link_to 'Gallery', '/gallery.html', :relative => true %>
			<%= link_to 'About', '/about.html', :relative => true %>
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
				<i class="fas fa-bars"></i>
			</a>
		</div>
	</div>
</div>