---
title: Fusion | About
---

<div class="container container_wrapper">
	<div class='row'>
		<section class='column'>
			<div class='image_col'>
				<%= image_tag 'hhop.jpg' %>
			</div>
		</section>

		<aside class='column'>
			<div class='text-column'>
				<h1>About</h1>
				<%= lorem.sentences 20 %>
			</div>
		</aside>
	</div>
</div>

