---
title: Fusion | About
---

<div class="container container_wrapper">
	<section class="about_info">
		<p>Picts goes here</p>
	</section>
	<aside>
		<h1>About</h1>
	<p>
		<%= lorem.sentences 5 %>
	</p>
	<p>
		<%= lorem.sentences 5 %>
	</p>	
	</aside>
</div>