---
title: Fusion | Gallery
---

<div class="container container_wrapper">
	<section class="Gallery_info">
		<p>Picts goes here</p>
	</section>
	<aside>
		<h1>Gallery</h1>
		<p>
			<%= lorem.sentences 5 %>
		</p>
		<p>
			<%= lorem.sentences 5 %>
		</p>	
	</aside>
</div>